apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cabotage
  namespace: postgres
  labels:
    cabotage.io/infra: "true"
spec:
  inheritedMetadata:
    labels:
      cabotage.io/infra: "true"
  instances: ${instances}
  certificates:
    serverTLSSecret: cabotage-tls
    serverCASecret: operators-ca-crt
%{ if use_s3 && backup_enabled && backup_s3_role_arn != "" ~}
  serviceAccountTemplate:
    metadata:
      annotations:
        eks.amazonaws.com/role-arn: ${backup_s3_role_arn}
%{ endif ~}
%{ if backup_enabled ~}
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: cabotage-backups
        serverName: cabotage
%{ endif ~}
  resources:
    requests:
      cpu: "${resources.requests.cpu}"
      memory: "${resources.requests.memory}"
    limits:
      cpu: "${resources.limits.cpu}"
      memory: "${resources.limits.memory}"
%{ if length(parameters) > 0 ~}
  postgresql:
    parameters:
%{ for key, value in parameters ~}
      ${key}: "${value}"
%{ endfor ~}
%{ endif ~}
  storage:
    size: ${storage_size}
