apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: cabotage-backups
  namespace: postgres
  labels:
    cabotage.io/infra: "true"
spec:
  retentionPolicy: ${jsonencode(retention_policy)}
  configuration:
    destinationPath: ${jsonencode("s3://${backup_bucket}/")}
%{ if use_s3 ~}
    s3Credentials:
      inheritFromIAMRole: true
%{ else ~}
    endpointURL: "https://rustfs.cabotage.svc.cluster.local:9000"
    endpointCA:
      name: operators-ca-crt
      key: ca.crt
    s3Credentials:
      accessKeyId:
        name: rustfs-cabotage-postgres-backups
        key: access-key-id
      secretAccessKey:
        name: rustfs-cabotage-postgres-backups
        key: secret-key
      region:
        name: rustfs-cabotage-postgres-backups
        key: region
%{ endif ~}
    data:
      compression: gzip
    wal:
      compression: gzip
