---
apiVersion: redis.redis.opstreelabs.in/v1beta2
kind: Redis
metadata:
  name: cabotage
  namespace: redis
  labels:
    cabotage.io/infra: "true"
spec:
  TLS:
    secret:
      optional: false
      secretName: cabotage-tls
  kubernetesConfig:
    image: quay.io/opstree/redis:v7.0.15
    imagePullPolicy: IfNotPresent
    redisSecret:
      key: password
      name: cabotage-password
    resources:
      requests:
        cpu: "${redis_resources.requests.cpu}"
        memory: "${redis_resources.requests.memory}"
      limits:
        cpu: "${redis_resources.limits.cpu}"
        memory: "${redis_resources.limits.memory}"
    updateStrategy: {}
  podSecurityContext:
    fsGroup: 1000
    runAsUser: 1000
  redisExporter:
    image: quay.io/opstree/redis-exporter:v1.44.0
    imagePullPolicy: IfNotPresent
    port: 9121
    resources:
      requests:
        cpu: "${redis_exporter_resources.requests.cpu}"
        memory: "${redis_exporter_resources.requests.memory}"
      limits:
        cpu: "${redis_exporter_resources.limits.cpu}"
        memory: "${redis_exporter_resources.limits.memory}"
  storage:
    volumeClaimTemplate:
      metadata: {}
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
      status: {}
    volumeMount: {}
