apiVersion: v1
kind: Service
metadata:
  name: resident-mimir-write
  namespace: cabotage
  labels:
    app: resident-mimir
    component: write
spec:
  selector:
    app: resident-mimir
    component: ${component}
  ports:
  - port: 8080
    targetPort: https
    name: https
  - port: 9095
    targetPort: grpc
    name: grpc
