apiVersion: v1
kind: Service
metadata:
  name: resident-loki-backend
  namespace: cabotage
  labels:
    app: resident-loki
    component: backend
spec:
  selector:
    app: resident-loki
    component: ${component}
  ports:
  - port: 3100
    targetPort: https
    name: https
  - port: 9095
    targetPort: grpc
    name: grpc
