apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: cabotage
  name: cabotage-app-worker
  labels:
    app: cabotage-app
    component: worker
    cabotage.io/infra: "true"
spec:
  replicas: ${replicas}
  selector:
    matchLabels:
      app: cabotage-app
      component: worker
  template:
    metadata:
      annotations:
        configmap-hash: ${config_hash}
      labels:
        app: cabotage-app
        component: worker
        ca-admission.cabotage.io: "true"
        cabotage.io/infra: "true"
    spec:
      serviceAccountName: cabotage-app
      initContainers:
        - name: cabotage-sidecar
          image: ghcr.io/cabotage/containers/sidecar-rs:1.1a1
          imagePullPolicy: IfNotPresent
          restartPolicy: Always
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          args:
            - "kube-login-and-maintain"
            - "--namespace=$(NAMESPACE)"
            - "--vault-auth-kubernetes-role=cabotage-cabotage-app"
            - "--fetch-consul-token"
            - "--vault-consul-role=cabotage-cabotage-app"
            - "--fetch-cert"
            - "--vault-pki-role=cabotage-cabotage-app"
            - "--pod-name=$(POD_NAME)"
            - "--pod-ip=$(POD_IP)"
            - "--service-names=cabotage-app"
            - "--additional-dns-names=localhost"
          startupProbe:
            exec:
              command:
                - sh
                - -c
                - test -f /var/run/secrets/vault/vault-token && test -f /var/run/secrets/vault/consul-token
            periodSeconds: 1
            failureThreshold: 30
          resources:
            requests:
              cpu: "${sidecar_resources.requests.cpu}"
              memory: "${sidecar_resources.requests.memory}"
            limits:
              cpu: "${sidecar_resources.limits.cpu}"
              memory: "${sidecar_resources.limits.memory}"
          volumeMounts:
            - name: vault-secrets
              mountPath: /var/run/secrets/vault
      containers:
        - name: cabotage-app-worker
          image: ${image}
          imagePullPolicy: IfNotPresent
          command: ["celery"]
          args:
            - "-A"
            - "cabotage.celery.worker.celery_app"
            - "worker"
            - "-l"
            - "info"
            - "-E"
            - "-c"
            - "4"
          envFrom:
            - configMapRef:
                name: cabotage-config
          env:
            - name: CABOTAGE_SQLALCHEMY_DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: database-uri
            - name: CABOTAGE_CELERY_BROKER_URL
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: redis-uri
            - name: CABOTAGE_CELERY_RESULT_BACKEND
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: redis-uri
%{ if !use_s3 ~}
            - name: CABOTAGE_MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: rustfs-cabotage-registry
                  key: access-key-id
            - name: CABOTAGE_MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: rustfs-cabotage-registry
                  key: secret-key
%{ endif ~}
            - name: CABOTAGE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: secret-key
            - name: CABOTAGE_SECURITY_PASSWORD_SALT
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: password-salt
            - name: CABOTAGE_SECURITY_TOTP_SECRETS
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: totp-secret
            - name: CABOTAGE_REGISTRY_AUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: cabotage-app-secrets
                  key: registry-auth-secret
            - name: CABOTAGE_GITHUB_APP_ID
              valueFrom:
                secretKeyRef:
                  name: cabotage-github-app
                  key: app-id
                  optional: true
            - name: CABOTAGE_GITHUB_APP_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: cabotage-github-app
                  key: private-key
                  optional: true
            - name: CABOTAGE_GITHUB_WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: cabotage-github-app
                  key: webhook-secret
                  optional: true
            - name: CABOTAGE_GITHUB_APP_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cabotage-github-app
                  key: client-id
                  optional: true
            - name: CABOTAGE_GITHUB_APP_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cabotage-github-app
                  key: client-secret
                  optional: true
            - name: CABOTAGE_DOCKERHUB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: cabotage-dockerhub
                  key: username
                  optional: true
            - name: CABOTAGE_DOCKERHUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cabotage-dockerhub
                  key: token
                  optional: true
            - name: CABOTAGE_ALERTMANAGER_WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: cabotage-alertmanager-webhook
                  key: secret
                  optional: true
            - name: CABOTAGE_SLACK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cabotage-notifications-slack
                  key: client-id
                  optional: true
            - name: CABOTAGE_SLACK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cabotage-notifications-slack
                  key: client-secret
                  optional: true
            - name: CABOTAGE_DISCORD_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cabotage-notifications-discord
                  key: client-id
                  optional: true
            - name: CABOTAGE_DISCORD_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cabotage-notifications-discord
                  key: client-secret
                  optional: true
            - name: CABOTAGE_DISCORD_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cabotage-notifications-discord
                  key: bot-token
                  optional: true
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: cabotage-sentry
                  key: dsn
                  optional: true
          volumeMounts:
            - name: vault-secrets
              mountPath: /var/run/secrets/vault
          resources:
            requests:
              cpu: "${resources.requests.cpu}"
              memory: "${resources.requests.memory}"
            limits:
              cpu: "${resources.limits.cpu}"
              memory: "${resources.limits.memory}"
      volumes:
        - name: vault-secrets
          emptyDir:
            medium: "Memory"
            sizeLimit: "1M"
